doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Responsive Grid Slider
  body

    .icon.next-track
    .icon.audio-button

    #bootstrap-4-example
      .container
        h2 Bootstrap v4 Example (Flex)
        #slider-bootstrap-4.responsive-slider
          .slider-row.row.flex-nowrap
            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 1
            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 2
            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 3
            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 4
            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 5

            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 6

            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 7

            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 8

            .slide-cell.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
              .slide-container 9

          .nav-prev prev
          .nav-next next

    #bootstrap-3-example
      .container
        h2 Bootstrap v3 Example (Float)
        #slider-bootstrap-3.responsive-slider
          .slider-row.row
            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 1
            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 2
            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 3
            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 4
            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 5

            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 6

            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 7

            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 8

            .slide-cell.col-xs-12.col-sm-4.col-md-3.col-lg-2
              .slide-container 9

          .nav-prev prev
          .nav-next next

    #foundation-6-example
      .container
        h2 Foundation 6 Example (Flex)
        #slider-foundation-6.responsive-slider
          .slider-row.row
            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 1
            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 2
            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 3
            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 4
            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 5

            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 6

            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 7

            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 8

            .slide-cell.columns.small-12.medium-6.large-3
              .slide-container 9

          .nav-prev prev
          .nav-next next